<div class='main'>
  <% @categories.each do |c| %>
    <div class='section'>
      <div class='name'><%= c %></div>
      <span class='section-desc'>The following is a section of resources related to the shopping cart</span>

      <% @routes[c].each do |api| %>
        <div class='api'>
          <div class='title'>
            <span class='verb <%= api[:verb].downcase %>'><%= api[:verb].upcase %></span>
            <span class='url'><%= api[:pattern] %></span>
          </div>
          <p class='desc'><%= api[:desc] %></p>
          <div class='example' style='display:none'>
            <div class='params'>
              <span>Params</span>
              <div class='code'>
            <pre><%= api[:params] %></pre>
              </div>
            </div>

            <div class='response'>
              <span>Response</span>
              <div class='code'>
            <pre><%= api[:response] %></pre>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
